<!DOCTYPE html>

{% load static %}
<html lang="pl">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'styles/style_admin.css' %}">
        <link rel="stylesheet" href="{% static 'fontello/css/fontello.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    </head>

    <body>
        <div id="app">
            <v-app class="myFont">
                <v-dialog v-model="delete_confirm" max-width="330px">
                    <v-card>
                        <v-card-title class="headline grey lighten-2">
                            Potwierdzenie usunięcia
                        </v-card-title>
                        <v-card-text>
                            Czy na pewno chcesz usunąć ten element?
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="green darken-1" text v-bind:href="'adminanimals/animaldelete/'+[[act_id]]">Usuń</v-btn>
                            <v-btn color="green darken-1" text @click="delete_confirm = false">Anuluj</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <div>
                    <v-toolbar color="rgba(60, 200, 100, 1)">       
                        <v-toolbar-title><v-btn color="rgba(60, 200, 100, 1)" href="{% url 'admin' %}">Panel administracyjny</v-btn></v-toolbar-title>
                        <v-spacer></v-spacer>
                    </v-toolbar>
                </div>
                <v-img src="/static/images/background_admin_animals.jpg">
                    <br/><br/>
                        <v-container fluid>
                            <v-row>
                                <v-col cols="2"></v-col>
                                <v-col cols="8">
                                    <v-btn block color="rgba(60, 200, 100, 0.8)" small href="{% url 'addanimal' %}">Dodaj zwierzę</v-btn>
                                </v-col>
                                <v-col cols="2"></v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="2"></v-col>
                                <v-col cols="8">
                                    <table class="formtable">
                                        <tr>
                                            <th>Zdjęcie</th>
                                            <th>Imię</th>
                                            <th>Wiek</th>
                                            <th>Płeć</th>
                                            <th>Rasa</th>
                                            <th>Rodzaj (pies, kot)</th>
                                            <th>Data przybycia</th>
                                            <th>Opis</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        {% load index %}
                                        {% for animal in animals %}
                                        <tr>
                                            <td><img class="thumbnail" src="{{ thumbnails|index:forloop.counter0 }}"/></td>
                                            <td>{{animal.name}}</td>
                                            <td>{{animal.age}}</td>
                                            <td>{{animal.sex}}</td>
                                            <td>{{animal.race}}</td>
                                            <td>{{animal.type}}</td>
                                            <td>{{animal.entered}}</td>
                                            <td class="content">{{animal.description}}</td>
                                            <td><a @click="saveActId({{animal.ID}})"><i class="icon-trash icons"></i></a></td>
                                            <td><a href="adminanimals/animalupdate/{{animal.ID}}"><i class="icon-pencil icons"></i></a></td>
                                            <td><a href="adminanimals/addphoto/{{animal.ID}}"><i class="icon-pencil icons"></i></a></td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </v-col>
                                <v-col cols="2"></v-col>
                            </v-row>
                    </v-container>
                </v-img>
            </v-app>
        </div>
    </body>
</html>

<script>
var app = new Vue({
  delimiters: ["[[", "]]"],
  el: '#app',
  vuetify: new Vuetify(),
  data: {
    delete_confirm: false,
    act_id: ''
  },
  methods: {
    saveActId(id) {
        this.delete_confirm = true;
        this.act_id = id;
    }
  }
});

</script>