<!DOCTYPE html>

{% load static %}
<html lang="pl">

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/style_admin.css' %}">
    <link rel="stylesheet" href="{% static 'fontello/css/fontello.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
</head>

<body>
    <div id="app">
        <v-app class="myFont">
            <div>
                <v-toolbar color="rgba(60, 200, 100, 1)">
                    <v-toolbar-title>
                        <v-btn color="rgba(60, 200, 100, 1)" href="{% url 'admin' %}">Panel administracyjny</v-btn>
                    </v-toolbar-title>
                    <div class="info_admin clearfix">
                        <div class="name_user">
                            <h1>Witaj, {{request.user.username}}</h1>
                        </div>
                        <div class="change_password">
                            <a href="{% url 'password_change' %}">Zmień hasło</a>
                        </div>
                        <div class="logout"><a href="{% url 'logout'%}">Wyloguj</a></div>
                    </div>
                    <v-spacer></v-spacer>
                </v-toolbar>
            </div>
            <v-img src="/static/images/background_adminpage.jpg">
                <div>
                    </br></br></br></br>
                    <v-row>
                        <v-col cols="3"></v-col>
                        <v-col>
                            <v-row>
                                <v-col cols="12">
                                    <v-btn block color="rgba(60, 200, 100, 0.8)" small min-height="200px"
                                        href="{% url 'adminanimals' %}">Zarządzaj zwierzętami</v-btn>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="6">
                                    <v-btn block color="rgba(60, 200, 100, 0.8)" small min-height="200px"
                                        href="{% url 'adminnews' %}">Zarządzaj postami</v-btn>
                                </v-col>
                                <v-col cols="6">
                                    <v-btn block color="rgba(60, 200, 100, 0.8)" small min-height="200px"
                                        href="{% url 'applications' %}">Zarządzaj aplikacjami</v-btn>
                                </v-col>
                            </v-row>
                        </v-col>
                        <v-col cols="3"></v-col>
                    </v-row>
                </div>
                <br><br />
            </v-img>
        </v-app>
    </div>
</body>

</html>

<script>
    var app = new Vue({
        delimiters: ["[[", "]]"],
        el: '#app',
        vuetify: new Vuetify(),
        data: {},
    });
</script>