<!DOCTYPE html>

{% load static %}
<html lang="pl">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'styles/style_admin.css' %}">
        <link rel="stylesheet" href="{% static 'fontello/css/fontello.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    </head>

    <body>
        <div id="app">
            <v-app class="myFont">
                <div>
                    <v-toolbar color="rgba(60, 200, 100, 1)">       
                        <v-toolbar-title><v-btn color="rgba(60, 200, 100, 1)" href="{% url 'admin' %}">Panel administracyjny</v-btn></v-toolbar-title>
                        <v-spacer></v-spacer>
                    </v-toolbar>
                </div>
                <v-img src="/static/images/grass.jpg">
                    <br/><br/>
                    <v-container fluid>
                        <v-row>
                            <v-col cols="2"></v-col>
                            <v-col cols="8">
                                <v-btn block color="rgba(60, 200, 100, 0.8)" small href="{% url 'newnews' %}">Dodaj nowy post</v-btn>
                            </v-col>
                            <v-col cols="2"></v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="2"></v-col>
                            <v-col cols="8">
                                <table>
                                    <tr>
                                        <th>Tytuł</th>
                                        <th>Treść</th>
                                        <th>Data dodania</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    {% for new in news %}
                                    <tr>
                                        <td>{{new.title}}</td>
                                        <td>{{new.content}}</td>
                                        <td>{{new.date}}</td>
                                        <td><button><a href="adminnews/render_news_delete/{{new.ID}}" class="btn btn-danger"><i class="icon-trash icons"></i></a></button></td>
                                        <td><button><a href="adminnews/newsupdate/{{new.ID}}" class="btn btn-warning"><i class="icon-pencil icons"></i></a></button></td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </v-col>
                            <v-col cols="2"></v-col>
                        </v-row>
                    </v-container>
                </v-img>
            </v-app>
        </div>
    </body>
</html>

<script>
var app = new Vue({
  delimiters: ["[[", "]]"],
  el: '#app',
  vuetify: new Vuetify(),
  data: {
    message: 'Hello'
  },
});

</script>