html,
.myFont {
    font-size: 15px;
}

ul.admin_menu>li {
    list-style-type: none;
    float: left;
}

ul.admin_menu>li>a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

ul.admin_menu>li:last-child {
    border-right: none;
}

a.admin_menu {
    color: black !important;
    height: 64px;
    padding-top: 18px;
    padding-left: 12px;
    padding-right: 12px;
    display: block;
    text-decoration: none;
    font-weight: 500;
}

.v-toolbar__title>.v-btn {
    font-weight: 900;
    font-size: 20px;
}

.addtable {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    color: "rgb(255, 255, 255, 0.5)";
}

table,
td,
th {
    border: inset 1px #000;
}

.formtable {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    background-color: rgba(31, 34, 39, 0.8);
    color: #FFF;
}

.phototable {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    background-color: #1F2227;
    color: #FFF;
}

th {
    background-color: rgba(0, 0, 0, 0.4);
}

.myth {
    background-color: #FFF;
    opacity: 0.8;
}

td,
th {
    min-height: 200px;
    max-width: 500px;
    padding: 5px;
}

td.content {
    text-align: justify;
}

.thumbnail {
    max-width: 130px;
    max-height: 130px;
}

.adminphoto {
    max-width: 400px;
    max-height: 400px;
}

i.icons {
    text-decoration: none;
    color: white;
}

i.icons:hover {
    color: grey;
}

ul.pagination {
    text-align: center;
    margin: 10px;
}

ul.pagination>li {
    display: inline;
    list-style-type: none;
    border: 1px solid black;
    background-color: rgba(31, 34, 39, 0.8);
    padding: 2px;
    padding-bottom: 4px;
    color: white;

}

ul.pagination>li>a {
    text-decoration: none;
    color: white;
}

.addphoto {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    background-color: rgba(31, 34, 39, 0.8);
    color: rgb(5, 212, 33);
}

.v-toolbar_content {
    position: relative;
}

.name_user h1 {
    position: absolute;
    top: 20px;
    right: 400px;
    font-size: 20px;
}

.logout a {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    border: 2px solid black;
    transition: 0.5s;
    color: black !important;
    text-decoration: none;
}

.logout a:hover {
    background-color: black;
    border: 2px solid white;
    color: white !important;
}

.reset_password {
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.reset_password h3 {
    padding: 20px 0;
    font-size: 40px;
    text-align: center;
}

.reset_password p {
    padding: 20px 0;
    text-align: center;
}

.reset_password form {
    padding: 20px 0;
    text-align: center;
}

.reset_password form label {
    padding-right: 10px;
}

#id_email {
    border: solid black 2px;
    margin-bottom: 20px;
}

.send_email {
    display: block;
    margin: 0 auto;
    background-color: white;
    padding: 10px 30px;
    border: 2px solid black;
    transition: 0.5s;
}

.send_email:hover {
    background-color: black;
    border: 2px solid white;
    color: white;
}

.reset_password li {
    text-align: left;
    list-style: none;
    padding-top: 20px;
}

.reset_password li:nth-last-of-type(1) {
    padding-bottom: 20px;
}

#id_new_password1,
#id_new_password2,
#id_old_password {
    border: solid black 2px;
    margin-bottom: 20px;
}

.errorlist {
    color: red;
}

.reset_password .reset_login {
    text-align: center;
}

.reset_password .reset_login a {
    background-color: white;
    padding: 10px 30px;
    border: 2px solid black;
    transition: 0.5s;
    color: black !important;
    text-decoration: none;
}

.reset_password .reset_login a:hover {
    background-color: black;
    border: 2px solid white;
    color: white !important;
}

.change_password a {
    position: absolute;
    top: 5px;
    right: 180px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    border: 2px solid black;
    transition: 0.5s;
    color: black !important;
    text-decoration: none;
}

.change_password a:hover {
    background-color: black;
    border: 2px solid white;
    color: white !important;
}

button.change_password {
    display: block;
    margin: 0 auto;
    background-color: white;
    padding: 10px 30px;
    border: 2px solid black;
    transition: 0.5s;
}

button.change_password:hover {
    background-color: black;
    border: 2px solid white;
    color: white;
}

div.change_done {
    text-align: center;
}

a.change_done {
    display: inline-block;
    color: black !important;
    text-decoration: none;
    background-color: white;
    padding: 10px 30px;
    border: 2px solid black;
    transition: 0.5s;
}

a.change_done:hover {
    background-color: black;
    border: 2px solid white;
    color: white !important;
}