{% extends "app/base.html" %}
{% block content %}
<header class="banner">
    <h1 class="heading">Schronisko w Rzeszowie</h1>
    <img class="photo_banner" src="../../static/images/background_banner_dog1.jpg" alt="" />
    <img class="photo_banner" src="../../static/images/background_banner_dog2.jpg" alt="" />
    <img class="photo_banner" src="../../static/images/background_banner_dog3.jpg" alt="" />

    <a class="btn1" href="#">
        <p><span class="bg"></span><span class="base">
            </span><span class="text">Zaadoptuj mnie!</span>
        </p>
    </a>
</header>
<section class="news">
    <h1 class="header_main">Aktualności</h1>
    <article class="art1">
        <img class="example_img" src="../../static/images/grass.jpg" alt="">
        <div class="about">
            <h2 class="header_news">Otwarcie schroniska!</h2>
            <p>Lorem ipsum dolor, sit amet consectetur
                adipisicing elit. Nisi possimus, impedit
                aspernatur tenetur eveniet perferendis quis,
                placeat beatae deserunt nobis rem repellendus
                magni totam nostrum! Laboriosam ex minus eligendi.</p>
        </div>
    </article>
    <article class="art2">
        <img class="example_img" src="../../static/images/background_adminnews.jpg" alt="">
        <div class="about">
            <h2 class="header_news">Zabierz kociaka!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Quisquam, incidunt perspiciatis.
                Autem animi voluptatibus ratione rem corrupti beatae
                commodi nemo eum tenetur fugiat, nulla magnam tempora
                voluptate laborum voluptatum aliquid.</p>
        </div>
    </article>
    <article class="art3">
        <img class="example_img" src="../../static/images/background_addanimals.jpg" alt="">
        <div class="about">
            <h2 class="header_news">Pieski czekają na Ciebie!</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing
                elit. Illo nesciunt, natus enim dolorem perferendis
                sed a distinctio quasi. Velit voluptate quae eveniet
                alias expedita necessitatibus, molestias illum
                dignissimos officiis voluptatum?</p>
        </div>
    </article>
</section>
<section class="socials">
    <div class="social clearfix"><a href="mailto:mail@domena.pl"><img
                src="../../static/images/contacts/contact1.png">Napisz maila do nas!</a></div>
    <div class="social clearfix"><a href="tel:123-456-789"><img src="../../static/images/contacts/contact2.png">Zadzwoń
            do nas!</a></div>
    <div class="social clearfix"><a href="#"><img src="../../static/images/contacts/contact3.png">Znajdź nas na
            Facebooku!</a>
    </div>
    <div class="social clearfix"><a href="#"><img src="../../static/images/contacts/contact4.png">Znajdź nas na
            Youtube!</a>
    </div>
</section>



{% endblock %}