<!DOCTYPE html>

{% load static %}
<html lang="pl">

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/style_admin.css' %}">
    <link rel="stylesheet" href="{% static 'fontello/css/fontello.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
</head>

<body>
    <div id="app">
        <v-app class="myFont">
            <div>
                <v-toolbar color="rgba(60, 200, 100, 1)">
                    <v-toolbar-title>
                        <v-btn color="rgba(60, 200, 100, 1)" href="{% url 'admin' %}">Panel administracyjny</v-btn>
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                </v-toolbar>
            </div>
            <v-img src="/static/images/background_adminpage.jpg">
                <div class="reset_password">
                    <h3>Resetowanie hasła</h3>
                    <p>Zapomniałeś hasła? Podaj swój email poniżej, a prześlemy link resetujący hasło na podany adres
                        email.</p>

                    <form method="post">
                        {% csrf_token %}
                        {{form}}
                        <input class="send_email" type="Submit" name="Send email">
                    </form>
                </div>
            </v-img>
        </v-app>
    </div>
</body>

</html>

<script>
    var app = new Vue({
        delimiters: ["[[", "]]"],
        el: '#app',
        vuetify: new Vuetify(),
        data: {},
    });
</script>