{% extends "app/base.html" %} {% block content %}
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
  crossorigin="anonymous"
/>
<div class="banner_static">
  <h1 class="heading_static" style="margin-bottom: 0">Dowiedz się więcej</h1>
  <img
    class="photo_banner_static"
    src="../../static/images/background_banner_animals.jpg"
  />
</div>
<!-- <v-container fluid style="background-color: rgb(116, 97, 62);">
    <v-row align="center" justify="center" class="my-2">
        <v-col cols="9" style="background-color: rgb(189, 150, 78);">
            <v-row>
                <v-col cols="4">
                    <v-row justify="center">
                        <v-img class="ma-5" width="300px" height="300px"contain src="{{thumbnail}}"></v-img>
                    </v-row>
                </v-col>
                <v-col class="mt-3" cols="8">
                    <v-row justify="end">
                        <p style="padding: 0px 4px; margin: 20px; font-size: 15px; font-weight: 700;">Data dołączenia: {{animal.entered}}</p>
                    </v-row>
                    <v-row justify="start">
                        <v-col cols="12">
                            <p>Imię: {{animal.name}}</p>
                            <br/>
                            <p>Płeć: {{animal.sex}}</p>
                            <br/>
                            <p>Rasa: {{animal.race}}</p>
                            <br/>
                            <p>Wiek: {{animal.age}}</p>
                        </v-col>
                    </v-row>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12">
                    <v-btn color="white" width="250px" height="40px" href="app/{{animal.ID}}">Wyraź chęć adopcji!</v-btn>
                </v-col>
            </v-row>
            <v-divider></v-divider>
            <v-row class="ma-2">
                <v-col cols="12" class="px-2">
                    <p style="text-align: justify; padding: 0px 20px; margin: 10px; font-size: 16px; font-weight: 400;"><h6>Opis:</h6><br/>{{animal.description|linebreaks}}</p>
                    <br/><br/>
                    <h6>Galeria zdjęć</h6>
                    <br/>
                    {% load index %}
                    {% for photo in photos %}
                        <div style="float: left; margin: 10px 15px;">
                            <v-img style="margin: 0px;" contain max-width="300px" src="{{ photo.image.url }}"></v-img>
                        </div>
                        {% empty %}
                        <p>Brak zdjęć</p>
                    {% endfor %}
                    <div style="clear: both;"></div>
                </v-col>
            </v-row>
        </v-col>
    </v-row>
</v-container> -->
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="card border-0">
        <div class="card-block">
          <img src="{{thumbnail}}" alt="" class="img-fluid" style="width:100%" />
          <div class="card-text">
            <a
              style="margin-top: 10px; width: 100%; color: white"
              href="app/{{animal.ID}}"
              class="btn btn-success"
              >Wyraź chęć adopcji!</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card border-0">
        <div class="card-block">
          <div class="card-text">
            <p><span style="font-weight: 800">Imię:</span> {{animal.name}}</p>
            <p><span style="font-weight: 800">Płeć:</span> {{animal.sex}}</p>
            <p><span style="font-weight: 800">Rasa:</span> {{animal.race}}</p>
            <p><span style="font-weight: 800">Wiek:</span> {{animal.age}}</p>
            <p><span style="font-weight: 800">Data dołączenia:</span> {{animal.entered}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="card border-0">
        <div class="card-block">
          <div class="card-text">
            <p><h6 style="font-weight: 800">Opis:</h6><br />{{animal.description|linebreaks}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<h4 style="font-weight: 500">Galeria zdjęć</h4>
  <div class="row">
    {% load index %}
    {% for photo in photos %}
    <div class="col-md-3 col-sm-6">
        <div class="card border-0">
            <div class="card-block">
                <img src="{{ photo.image.url }}" alt="" class="img-fluid" style="height: 150px" />
            </div>
        </div>
    </div>
    {% empty %}
    <p>Brak zdjęć</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
