<!DOCTYPE html>

{% load static %}
<html lang="pl">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'styles/style.css' %}">
        <link rel="stylesheet" href="{% static 'fontello/css/fontello.css' %}">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    </head>

    <body>
        <div id="app">
            <v-app class="myFont">
                <v-app-bar app>
                    <a id="start" class="menu_list" href="#">Start</a>
                    <v-spacer></v-spacer>
                    <ul class="menu_list">
                        <li><a class="menu_list" href="#">Zaadoptuj mnie</a></li>
                        <li><a class="menu_list" href="#">O schronisku</a></li>
                        <li><a class="menu_list" href="#">Informacje o adopcji</a></li>
                        <li><a class="menu_list" href="#">Wesprzyj nas</a></li>
                        <li><a class="menu_list" href="#">Kontakt</a></li>
                    </ul>
                </v-app-bar>
                {% block content %}{% endblock %}
                <v-footer dark padless>
                    <v-card class="flex" flat tile>
                        <v-card-title style="background-color: rgb(5,12,15);">
                            <strong class="subheading">Sprawdź nasze social media!</strong>
                            <v-spacer></v-spacer>
                            <v-btn href="#" class="mx-4" dark icon>
                                <v-icon size="24px">mdi-facebook</v-icon>
                            </v-btn>
                            <v-btn href="#" class="mx-4" dark icon>
                                <v-icon size="24px">mdi-twitter</v-icon>
                            </v-btn>
                            <v-btn href="#" class="mx-4" dark icon>
                                <v-icon size="24px">mdi-youtube</mdi-youtube></v-icon>
                            </v-btn>
                            <v-btn href="#" class="mx-4" dark icon>
                                <v-icon size="24px">mdi-instagram</v-icon>
                            </v-btn>
                        </v-card-title>
                        <v-card-text class="py-2 white--text text-center">
                            [[ new Date().getFullYear() ]] — <strong>Schronisko dla Bezdomnych Zwierząt w Rzeszowie</strong>
                        </v-card-text>
                    </v-card>
                </v-footer>
            </v-app>
        </div>
    </body>

</html>

<script>
var app = new Vue({
  delimiters: ["[[", "]]"],
  el: '#app',
  vuetify: new Vuetify(),
  data: { 
  },
});

</script>