{% extends "app/base.html" %}

{% block content %}
    <v-container fluid class="header">
        <v-row>
            <v-col clos="12" class="header" id="bg_img_1">
                <v-container fluid>
                    <br/><br/>
                    <v-row align="center" justify="start" style="height: 400px; padding-top: 100px; margin-left: 90px;">
                        <v-col cols="auto" class="box_shadow">
                            <h1>Schronisko dla zwierząt</h1>
                            <h2>Znajdź dla siebie przyjaciela<br/>na dobre i na złe</h2>
                        </v-col>
                    </v-row>
                    <v-row justify="start" style="height: 50px; margin-left: 90px;">
                        <div style="padding-left: 26px; margin-top: 80px;">
                            <v-btn @click="actual_subpage = 1" href="#" x-large color="rgb(211, 211, 211)" elevation="24" style="color: black!important;">Zaadoptuj mnie</v-btn>
                        </div>
                    </v-row>
                </v-container>
            </v-col>
        </v-row>
    </v-container>
    <v-container fluid style="background-color: rgb(172, 143, 89);">
        <v-row align="center" justify="center" style="margin-top: 10px; margin-bottom: 10px;">
            <v-col cols="4" class="box_border">
                <h3>Schronisko dla Bezdomnych<br/>Zwierząt w Rzeszowie</h3>
                <p class="home_text">Schronisko dla Bezdomnych Zwierząt w Rzeszowie powstało w XXXX roku. Założyli je, wkładając w to wielką pracę i entuzjazm XXXX.</p>
            </v-col>
            <v-col cols="6">
                <v-img contain src="/static/images/logo1.png" height="250px"></v-img>
            </v-col>
        </v-row>
        <v-divider></v-divider>
        <v-row align="center" justify="center" style="margin-top: 10px; margin-bottom: 10px;">
            <v-col cols="auto" style="padding-left: 0px;">
                <v-card height="380px" color="rgb(145, 108, 37)">
                    <v-card-title style="font-size: 30px;"><i class="icon-guidedog"></i>Nowi w schronisku</v-card-title>
                    <v-card-text class="mx-auto">
                        {% load index %}
                        {% for animal in last_animals %}
                            <v-card color="#fff6d0" width="240px" height="240px" style="float: left; margin: 10px;">
                                <v-img class="mx-auto" width="200px" height="200px"contain src="{{ last_animals_thumbnails|index:forloop.counter0 }}"></v-img>
                                <v-card-text style="color: black; margin: 0px 5px; padding: 0px 16px; text-align: center; font-size: 22px;">{{animal.name}}</v-card-text>
                            </v-card>
                        {% endfor %}
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col cols="5" class="box_border">
                <h3>Poznaj nasze zwierzaki</h3>
                <p class="home_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae lectus elit. Sed egestas tincidunt mi vel varius. Suspendisse ligula quam, placerat et consectetur vitae, suscipit at augue. Pellentesque vehicula facilisis imperdiet. Quisque sit amet ullamcorper massa.</p>
            </v-col>
        </v-row>
        <v-divider></v-divider>
        <v-row align="center" justify="center" style="margin-top: 10px; margin-bottom: 10px;">
            <v-col cols="11">
                <h3>Aktualności</h3>
                <div style="margin-left: 75px;">
                    {% for news in last_news %}
                        <v-card color="#fff6d0" width="450px" height="240px" style="float: left; margin: 10px;">
                            <div style="float: left;">
                                <v-img class="ma-5" width="200px" height="200px"contain src="{{ news.image.url }}"></v-img>
                            </div>
                            <div style="float: left; width: 200px; height: 200px; margin: 20px 2px;">
                                <div style="margin: 10px 0px">
                                    <h4>{{news.title}}</h4>
                                </div>
                                <div style="text-align: center;">
                                    <v-btn color="white" width="120px" height="40px">Czytaj</v-btn>
                                </div>
                            </div>
                            <!-- <v-card-text style="color: black; margin: 0px 5px; padding: 0px 16px; text-align: center; font-size: 22px;">{{news.title}}</v-card-text> -->
                        </v-card>
                    {% endfor %}
                </div>
            </v-col>
        </v-row>
    </v-container>
{% endblock %}