{% extends "app/base.html" %} {% block content %}
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
  crossorigin="anonymous"
/>
<div class="banner_static">
  <h1 class="heading_static" style="margin-bottom: 0">Aktualności</h1>
  <img
    class="photo_banner_static"
    src="../../static/images/background_banner_news.jpg"
  />
</div>
<!-- <v-container fluid class="header">
  <v-row>
    <v-col cols="12" class="header" id="bg_img_2">
      <v-container fluid>
        <br /><br />
        <v-row
          align="center"
          justify="start"
          style="height: 400px; padding-top: 100px; margin-left: 90px"
        >
          <v-col cols="auto" class="box_shadow">
            <h1>Aktualności</h1>
          </v-col>
        </v-row>
      </v-container>
    </v-col>
  </v-row>
</v-container> -->
<!-- <v-container fluid style="background-color: rgb(172, 143, 89)">
  <v-row
    align="center"
    justify="center"
    style="margin-top: 10px; margin-bottom: 10px"
  >
    <v-col cols="10">
      {% for new in news %}
      <v-card
        color="#fff6d0"
        width="450px"
        height="240px"
        style="float: left; margin: 10px"
      >
        <div style="float: left">
          <v-img
            class="ma-5"
            width="200px"
            height="200px"
            contain
            src="{{ new.image.url }}"
          ></v-img>
        </div>
        <div style="float: left; height: 240px">
          <div
            style="
              display: block;
              width: 200px;
              height: 155px;
              margin: 15px 2px 2px 2px;
            "
          >
            <div style="margin: 10px 0px">
              <h4>{{new.title}}</h4>
            </div>
          </div>
          <div style="display: block; text-align: center; margin: 3px 1px">
            <v-btn
              color="white"
              width="120px"
              height="40px"
              href="post/{{new.ID}}"
              >Czytaj</v-btn
            >
          </div>
          <div
            style="display: block; text-align: right; margin: 7px 1px 3px 1px"
          >
            <p style="padding: 0px 4px; margin: 0px; font-size: 11px">
              {{new.date}}
            </p>
          </div>
        </div>
      </v-card>
      {% empty %}
      <h4>Brak aktualności do wyświetlenia</h4>
      {% endfor %}
    </v-col>
  </v-row>
</v-container> -->
<div class="container">
  <div class="row">
    {% for new in news %}
    <div class="col-md-3 col-sm-6">
      <div class="card text-center border-0">
        <div class="card-block">
          <div class="inner">
            <img
              src="{{ new.image.url }}"
              alt=""
              class="img-fluid"
              style="height: 150px"
            />
          </div>
          <div class="card-title" style="margin-top: 10px">
            <h4>{{new.title}}</h4>
          </div>
          <p>{{new.date}}</p>
          <a
            style="margin-top: 10px; color: white"
            href="/post/{{new.ID}}"
            class="btn btn-success"
            >Czytaj</a
          >
        </div>
      </div>
    </div>
    {% empty %}
    <h4>Brak aktualności do wyświetlenia</h4>
    {% endfor %}
  </div>
</div>
{% endblock %}
